black          
click          
flake8         
Flask          
isort          
itsdangerous   
Jinja2         
MarkupSafe     
mccabe         
mypy-extensions
pathspec       
pip            
platformdirs   
pycodestyle    
pyflakes       
python-decouple
python-dotenv  
setuptools     
tomli          
Werkzeug       
wheel          
